<div class="wrapper">
    <div class="landingPage">
        <div class="header">
            <div class="d-flex justify-content-between align-items-center h-100">
                <img src="../../../assets/spotify_logo.png" alt="logo" height="50" width="160" class="mx-5">
                <div class="d-flex">
                    <li class="px-4" *ngFor="let link of navLinks">{{link}}</li>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column wrapper-body w-100">
            <h1 class="w-100 text-center my-5">Listening is </h1>
            <h1 class="w-100 text-center every">Everything</h1>
            <h5 class="pt-3">Millions of songs and podcasts. No credit card needed.</h5>
            <button class="freeTrial">GET SPOTIFY FREE</button>
          
        </div>
        <footer>
            <div class="container">
                    <div class="container-wrapper">
                        <div class="row">
                            <div class="col-2 img-column">
                                <img src="../../../assets/spotify_logo.png" alt="" height="50" width="100">
                            </div>
                            <div class="col-2 aboutColumn">
                                <p>COMPANY</p>
                                <ul>
                                    <li>About</li>
                                    <li>Jobs</li>
                                    <li>For the Record</li>
                                </ul>
                            </div>
                            <div class="col-2 communityColumn">
                                <p>COMMUNITIES</p>
                                <ul>
                                    <li>For Artists</li>
                                    <li>Developers</li>
                                    <li>Advertising</li>
                                    <li>Investors</li>
                                    <li>Vendors</li>
                                </ul>
                            </div>
                            <div class="col-2 supportColumn">
                                <p>USEFUL LINKS</p>
                                <ul>
                                    <li>Support</li>
                                    <li>Web Player</li>
                                    <li>Free Mobile App</li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <div class="socialMediaAccounts d-flex justify-content-end my-3">
                                    <div class="sphere d-flex mx-2">
                                        <div class="d-flex justify-content-center align-items-center h-100 w-100">
                                            <i class="fab fa-facebook-f"></i>
                                        </div>
                                    </div>
                                    <div class="sphere mx-2">
                                        <div class="d-flex justify-content-center align-items-center h-100 w-100">
                                            <i class="fab fa-twitter"></i>
                                        </div>
                                    </div>
                                    <div class="sphere mx-2">
                                        <div class="d-flex justify-content-center align-items-center h-100 w-100">
                                            <i class="fab fa-instagram"></i>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="legalTeam d-flex justify-content-between">
                            <div class="d-flex">
                                <li>Legal</li>
                                <li>Privacy Center</li>
                                <li>Privacy Policy</li>
                                <li>Cookies</li>
                                <li>About Ads</li>
                            </div>
                            <span>© 2021 Spotify AB</span>
                        </div>
                    </div>
            </div>
        </footer>
    </div>
</div>